@font-face {
font-family: 'old-letterhand';
src: url(fonts/Old letterhand.otf);
}
body {
  background-color: #F98A29;
}
h1 {color: #000000;
  text-align: center;
  font-family: Old letterhand;
}
h2 {
  color: #000000;
  text-align: center;
  font-family: Old letterhand;
}
